@media (max-width: 600px) {
    .nav {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 80px;
        background: rgb(41, 50, 60);
        background: linear-gradient(135deg, rgba(41, 50, 60, 1) 0%, rgba(60, 72, 85, 1) 50%, rgba(85, 98, 112, 1) 100%);
        color: #f1c40f;
        size: 50px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .left {
        font-family: 'Satisfy', 'Oswald', sans-serif;
        font-size: 2rem;
    }

    .firstsection {
        display: flex;
        flex-direction: column-reverse;
    }

    .firstsection>div {
        width: 100%;
        margin-left: 20px;
    }

    .leftsection {
        font-size: 2.0em;
    }

    .rightsection {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .rightsection img {
        width: 50%;
        margin: 0;
        margin-top: 20px;
        transform: translateY(77px) scale(1.5);
    }

    .secondsection>p {
        font-size: 35px;
    }

    .about {
        font-size: 20px;
    }

    .lang>p {
        text-align: center;
    }

    .logos {
        gap: 20px;
    }

    .logos>img {
        width: 50px;
        height: 50px;
    }

    .work {
        flex-direction: column;
        gap: 50px;
    }

    .hms {
        width: 90vw;
        background: none;
        border-radius: 10;
        height: fit-content;
        margin-left: 0;
    }

    .netflix {
        width: 100%;
        height: fit-content;

    }

    .roadmap {
        width: 100vw;
        height: max-content;
    }

    main hr {
        align-items: center;
        width: 90vw;
        margin: 10px 0 10px 20px;
    }

    footer {
        margin-top: 50px;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .nav {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 80px;
        background: rgb(41, 50, 60);
        background: linear-gradient(135deg, rgba(41, 50, 60, 1) 0%, rgba(60, 72, 85, 1) 50%, rgba(85, 98, 112, 1) 100%);
        color: #f1c40f;
        size: 50px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .left {
        font-family: 'Satisfy', 'Oswald', sans-serif;

        font-size: 2rem;
    }

    .firstsection {
        display: flex;
        flex-direction: column-reverse;
    }

    .firstsection>div {
        width: 100%;
        margin-left: 40px;
        transform: translateY(-20px);
        gap: 10px;
    }

    .leftsection {
        font-size: 2.0em;
        transform: translateY(20px);
    }

    .rightsection {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        mar
    }

    .rightsection img {
        width: 50%;
        margin: 0;
        margin-top: 20px;
        transform: translateY(177px) scale(0.9);
    }

    .secondsection>p {
        font-size: 35px;
    }

    .about {
        font-size: 20px;
    }

    .lang>p {
        text-align: center;
    }

    .logos {
        gap: 20px;
    }

    .logos>img {
        width: 40px;
        height: 40px;
    }

    .work {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        width: 80vw;
        overflow: wrap;
    }

    .hms {
        width: 90vw;
        background: none;
        border-radius: 10;
        height: fit-content;
        margin-left: 0;
    }

    .netflix {
        width: 100%;
        height: fit-content;
    }

    .roadmap {
        width: 100vw;
        height: max-content;
    }

    main hr {
        align-items: center;
        width: 90vw;
        margin: 10px 0 10px 20px;
    }

    footer {
        margin-top: 50px;
    }
}